**/node_modules/*
**/bower_components/*
ui-widgets/plugins.js
ui-widgets/plugins-specs.json
center/samples/appbundle/*
demo/center/appbundle/HOPE_APP_*
demo/center/user.json
hub/samples/thingbundle/*
**/new_things_by_user/*
ui-dev/ui/js/lib/font-awesome.js
/dist
/TODO
*.orig
**/cache/*
*.tmp
*.log
tmp_*
/test/temp/*
/test/mockup/storage/*
/test/mockup/local/data/*
/test/mockup/local/apps/*
/test/mockup/local2/data/*
/test/mockup/local2/data/*
/test/mockup/local3/apps/*
/test/mockup/local3/apps/*
**/hope_resource/*
ui.json
/local
public/
.*cache
/test/mockup/local/bundle/apps/*
!/test/mockup/local/bundle/apps/test_app
/publish
/tmp
/dist
.id
.hope/
.tern-port
*.sublime*
.local
**/coverage/*
out
ui-widgets/generated
!**/.gitkeep
