{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "strict": [2, "never"],
    "quotes": [0],
    "eol-last": [0],
    "no-underscore-dangle": [0],
    "camelcase": [0],
    "no-trailing-spaces": [0],
    "key-spacing": [0],
    "no-multi-spaces": [0],
    "space-unary-ops": [0],
    "consistent-return": [0],

    "no-unused-vars": [1],
    "no-mixed-spaces-and-tabs": [1],

    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
  },
  "globals": {
    "React"         : false,
    "ReactComponent": false,
    "$hope"         : false,
    "_"             : false,
    "$"             : false,
    "$Q"            : false,
    "PolymerGestures" : false,
    Chart           : false,
    Widget          : false
  },
  "plugins": [
    "react"
  ]
}