.doc-theme-dark blockquote {
  border-left-width: 10px;
  background-color: rgba(128,128,128,0.05);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 20px;
  border-left: 5px solid rgba(128,128,128,0.075);
}
.doc-theme-dark .nav > li {
  margin: 20px 16px;
}
.doc-theme-dark .navbar-brand,
.doc-theme-dark .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}
.doc-theme-dark .nav > li > a:hover {
  background-color: #3e5676;
}
.doc-theme-dark .nav > li.active > a,
.doc-theme-dark .nav > li.active > a:hover,
.doc-theme-dark .nav > li.active > a:focus {
  color: #fff;
  background-color: #3e5676;
}
.doc-theme-dark .sup-header {
  height: 60px;
  padding: 20px 0px;
  -webkit-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
  background: #e8e8e8;
}
.doc-theme-dark .grid-left {
  float: left;
  width: 260px;
}
.doc-theme-dark .grid-right {
  position: relative;
  margin-left: 285px;
}
.doc-theme-dark .doc-margin {
  margin: 40px 0 20px 0;
}
.doc-theme-dark .doc-menu {
  white-space: nowrap;
  vertical-align: baseline;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
.doc-theme-dark .doc-menu.doc-book.active {
  background-color: #2f4159;
  border: 0;
  color: #be6837;
}
.doc-theme-dark .doc-menu.doc-chapter.active {
  background-color: #e8e8e8;
  border: 1px solid #cdcdcd;
  color: #be6837;
}
.doc-theme-dark .doc-menu.doc-section.active {
  background-color: #fff;
  color: #be6837;
}
.doc-theme-dark .doc-book {
  background-color: #2f4159;
  border: 0;
  color: #fff;
  padding: 0.4em 0.6em 0.4em;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}
.doc-theme-dark .doc-chapter {
  background-color: #e8e8e8;
  border: 1px solid #cdcdcd;
  color: #333;
  padding: 0.4em 0.6em 0.4em;
  margin: 6px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}
.doc-theme-dark .icon-right {
  color: #333;
  font-size: 10px;
  float: right;
  top: 4px;
}
.doc-theme-dark .icon-right:hover {
  color: #333;
  cursor: pointer;
}
.doc-theme-dark .doc-section {
  background-color: #fff;
  color: #333;
  padding: 8px 0px 4px 30px;
  margin: 4px 0;
  font-size: 16px;
  line-height: 1;
}
.doc-theme-dark .section-list a:not(:first-child) div {
  border-top: 1px dashed #ccc;
}
.doc-theme-dark img.viewer {
  cursor: zoom-in;
}
.doc-theme-dark #header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #2f4159;
}
.doc-theme-dark #top-navbar {
  height: 80px;
}
.doc-theme-dark #logo {
  margin-top: 20px;
  height: 40px;
}
.doc-theme-dark #body {
  background-color: #fff;
  margin-top: 160px;
  padding-bottom: 60px;
}
.doc-theme-dark #side-bar {
  position: fixed;
  top: 150px;
  padding-right: 10px;
  bottom: 60px;
  overflow: auto;
}
.doc-theme-dark #side-bar a:hover,
.doc-theme-dark #side-bar a:focus {
  text-decoration: none !important;
}
.doc-theme-dark #doc-title {
  text-align: center;
}
.doc-theme-dark #doc-content {
  padding-bottom: 10px;
}
.doc-theme-dark #doc-content img {
  max-width: 100%;
}
.doc-theme-dark #doc-content h2 {
  color: #2388db;
}
.doc-theme-dark #doc-content div.figure {
  text-align: center;
}
.doc-theme-dark #doc-content .btn {
  background-color: #cfdae8;
  color: #333;
  border: 1px solid #a9bfda;
}
.doc-theme-dark #doc-content .btn.disabled {
  background-color: #e8e8e8;
  color: #444;
  border: 1px solid #a9bfda;
}
.doc-theme-dark #footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  color: #fff;
  height: 60px;
  background-color: #2f4159;
  padding-top: 20px;
}
.doc-theme-blue blockquote {
  border-left-width: 10px;
  background-color: rgba(128,128,128,0.05);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 20px;
  border-left: 5px solid rgba(128,128,128,0.075);
}
.doc-theme-blue .nav > li {
  margin: 20px 16px;
}
.doc-theme-blue .navbar-brand,
.doc-theme-blue .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}
.doc-theme-blue .nav > li > a:hover {
  background-color: #0083d7;
}
.doc-theme-blue .nav > li.active > a,
.doc-theme-blue .nav > li.active > a:hover,
.doc-theme-blue .nav > li.active > a:focus {
  color: #fff;
  background-color: #0083d7;
}
.doc-theme-blue .sup-header {
  height: 60px;
  padding: 20px 0px;
  -webkit-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
  background: #e8e8e8;
}
.doc-theme-blue .grid-left {
  float: left;
  width: 260px;
}
.doc-theme-blue .grid-right {
  position: relative;
  margin-left: 285px;
}
.doc-theme-blue .doc-margin {
  margin: 40px 0 20px 0;
}
.doc-theme-blue .doc-menu {
  white-space: nowrap;
  vertical-align: baseline;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
.doc-theme-blue .doc-menu.doc-book.active {
  background-color: #00315f;
  border: 0;
  color: #fff;
}
.doc-theme-blue .doc-menu.doc-chapter.active {
  background-color: #00aeef;
  border: 1px solid #58bfec;
  color: #fff;
}
.doc-theme-blue .doc-menu.doc-section.active {
  background-color: #fff;
  color: #00aeef;
}
.doc-theme-blue .doc-book {
  background-color: #004280;
  border: 0;
  color: #fff;
  padding: 0.4em 0.6em 0.4em;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}
.doc-theme-blue .doc-chapter {
  background-color: #71ccf6;
  border: 1px solid #58bfec;
  color: #fff;
  padding: 0.4em 0.6em 0.4em;
  margin: 6px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}
.doc-theme-blue .icon-right {
  color: #fff;
  font-size: 10px;
  float: right;
  top: 4px;
}
.doc-theme-blue .icon-right:hover {
  color: #fff;
  cursor: pointer;
}
.doc-theme-blue .doc-section {
  background-color: #fff;
  color: #000;
  padding: 8px 0px 4px 30px;
  margin: 4px 0;
  font-size: 16px;
  line-height: 1;
}
.doc-theme-blue .section-list a:not(:first-child) div {
  border-top: 1px dashed #ccc;
}
.doc-theme-blue img.viewer {
  cursor: zoom-in;
}
.doc-theme-blue #header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #0071c5;
}
.doc-theme-blue #top-navbar {
  height: 80px;
}
.doc-theme-blue #logo {
  margin-top: 20px;
  height: 40px;
}
.doc-theme-blue #body {
  background-color: #fff;
  margin-top: 160px;
  padding-bottom: 60px;
}
.doc-theme-blue #side-bar {
  position: fixed;
  top: 150px;
  padding-right: 10px;
  bottom: 60px;
  overflow: auto;
}
.doc-theme-blue #side-bar a:hover,
.doc-theme-blue #side-bar a:focus {
  text-decoration: none !important;
}
.doc-theme-blue #doc-title {
  text-align: center;
}
.doc-theme-blue #doc-content {
  padding-bottom: 10px;
}
.doc-theme-blue #doc-content img {
  max-width: 100%;
}
.doc-theme-blue #doc-content h2 {
  color: #2388db;
}
.doc-theme-blue #doc-content div.figure {
  text-align: center;
}
.doc-theme-blue #doc-content .btn {
  background-color: #337ab7;
  color: #fff;
  border: 1px solid #2e6da4;
}
.doc-theme-blue #doc-content .btn.disabled {
  background-color: #265a88;
  color: #fff;
  border: 1px solid #2e6da4;
}
.doc-theme-blue #footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  color: #fff;
  height: 60px;
  background-color: #0071c5;
  padding-top: 20px;
}
body {
  position: relative;
  height: 100%;
  width: 100%;
}
h1 {
  margin-top: 0;
  padding-bottom: 6px;
  border-bottom: 1px solid #eee;
}
.container,
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.breadcrumb {
  padding: 0 !important;
  margin: 0 !important;
  background-color: inherit !important;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #aaa;
  content: ">";
}
.navbar-nav > li > a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.margin-top {
  margin-top: 10px;
}
.margin-left {
  margin-left: 10px;
}
.margin-right {
  margin-right: 10px;
}
