/******************************************************************************
Copyright (c) 2016, Intel Corporation

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

    * Redistributions of source code must retain the above copyright notice,
      this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in the
      documentation and/or other materials provided with the distribution.
    * Neither the name of Intel Corporation nor the names of its contributors
      may be used to endorse or promote products derived from this software
      without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*****************************************************************************/

/*Cached & No-Grouped decorator animation*/
@keyframes cng-in-1-an {
  0%   {transform:translateX(0px);}
  5%   {transform:translateX(131px);}
  7%   {transform:translateX(131px);}
  28%  {transform:translateX(226px); opacity:1;}
  29%  {opacity:0;}
  31%  {opacity:1;}
  32%  {opacity:0;}
  50%  {transform:translateX(226px); opacity:0;}

  51%  {transform:translateX(131px); opacity:0;}
  62%  {transform:translateX(131px); opacity:1;}
  71%  {transform:translateX(226px); opacity:1;}
  72%  {opacity:0;}
  73%  {opacity:1;}
  74%  {opacity:0;}
  100% {transform:translateX(226px); opacity:0;}
}

#CNG-Decorator #cng-in-1 {
  animation: cng-in-1-an 20s infinite;
}

@keyframes cng-in-def-an {
  0%   {opacity:0;}
  7%   {transform:translateX(0px); opacity:0;}
  8%   {opacity:1;}
  28%  {transform:translateX(95px); opacity:1;}
  29%  {opacity:0;}
  31%  {opacity:1;}
  32%  {opacity:0;}
  100% {transform:translateX(95px); opacity:0;}
}

#CNG-Decorator #cng-in-def {
  animation: cng-in-def-an 20s infinite;
}

@keyframes cng-in-deftxt-an {
  0%   {opacity:0;}
  7%   {opacity:0;}
  10%  {opacity:1;}
  13%  {opacity:0;}
  15%  {opacity:1;}
  17%  {opacity:0;}
  19%  {opacity:1;}
  21%  {opacity:0;}
  100% {opacity:0;}
}

#CNG-Decorator #cng-in-deftxt {
  animation: cng-in-deftxt-an 20s infinite;
}

@keyframes cng-inport-A-an {
  0%   {fill:black;}
  7%   {fill:black;}
  8%   {fill:#39B54A;}
  100% {fill:#39B54A;}
}

#CNG-Decorator #cng-inport-A {
  animation: cng-inport-A-an 20s infinite linear;
}


@keyframes cng-inport-B-an {
  62%  {fill:black;}
  63%  {fill:#D91B5B;}
  100% {fill:#D91B5B;}
}

#CNG-Decorator #cng-inport-B {
  animation: cng-inport-B-an 20s infinite linear;
}

@keyframes cng-in-3-an {
  0%   {opacity:0;}
  50%  {opacity:0;}
  51%  {transform:translateX(0px); opacity:1;}
  60%  {transform:translateX(131px);}
  62%  {transform:translateX(131px);}
  71%  {transform:translateX(226px); opacity:1;}
  72%  {opacity:0;}
  73%  {opacity:1;}
  74%  {opacity:0;}
  100% {transform:translateX(226px); opacity:0;}
}

#CNG-Decorator #cng-in-3 {
  animation: cng-in-3-an 20s infinite;
}

@keyframes cng-ou-1-an {
  0%   {opacity:0; fill:#FFD400; transform:translateX(0px);}
  32%  {opacity:0; transform:translateX(0px);}
  33%  {opacity:1;}
  34%  {opacity:0;}
  35%  {opacity:1; transform:translateX(0px);}
  49%  {opacity:1; transform:translateX(100px);}
  50%  {opacity:0; fill:#00D4C0; transform:translateX(100px);}

  51%  {opacity:0; fill:#00D4C0; transform:translateX(0px);}
  74%  {opacity:0; transform:translateX(0px);}
  75%  {opacity:1;}
  76%  {opacity:0;}
  77%  {opacity:1; transform:translateX(0px);}
  99%  {opacity:1; transform:translateX(100px);}
  100% {opacity:0; transform:translateX(100px);}
}

#CNG-Decorator #cng-ou-1 {
  animation: cng-ou-1-an 20s infinite;
}


@keyframes bg-A-1-an {
  0%   {transform:translateX(0px); opacity:1;}
  10%  {transform:translateX(100px) translateY(0px);}
  12%  {transform:translateX(108px) translateY(11px);}
  20%  {transform:translateX(108px) translateY(11px);}
  22%  {transform:translateX(130px) translateY(0px);}
  35%  {transform:translateX(226px); opacity:1;}
  37%  {opacity:0;}
  39%  {opacity:1;}
  41%  {opacity:0;}
  50%  {transform:translateX(226px); opacity:0;}
  100% {transform:translateX(226px); opacity:0;}
}

#BG-Decorator #bg-A-1 {
  animation:bg-A-1-an 20s infinite;
}

@keyframes bg-A-2-an {
  5%   {transform:translateX(0px); opacity:1;}
  15%  {transform:translateX(80px) translateY(0px);}
  20%  {transform:translateX(88px) translateY(11px);}
  30%  {transform:translateX(108px) translateY(11px);}
  45%  {transform:translateX(108px) translateY(11px);}
  50%  {transform:translateX(130px) translateY(0px);}
  60%  {transform:translateX(226px); opacity:1;}
  62%  {opacity:0;}
  64%  {opacity:1;}
  66%  {opacity:0;}
  70%  {transform:translateX(226px); opacity:0;}
  100% {transform:translateX(226px)}
}

#BG-Decorator #bg-A-2 {
  animation:bg-A-2-an 20s infinite;
}

@keyframes bg-A-3-an {
  10%  {transform:translateX(0px); opacity:1;}
  25%  {transform:translateX(70px) translateY(0px);}
  30%  {transform:translateX(88px) translateY(11px);}
  47%  {transform:translateX(88px) translateY(11px);}
  48%  {transform:translateX(108px) translateY(11px);}
  70%  {transform:translateX(108px) translateY(11px);}
  80%  {transform:translateX(130px) translateY(0px);}
  90%  {transform:translateX(226px); opacity:1;}
  92%  {opacity:0;}
  94%  {opacity:1;}
  96%  {opacity:0;}
  99%  {transform:translateX(226px); opacity:0;}
  100% {transform:translateX(226px);}
}

#BG-Decorator #bg-A-3 {
  animation:bg-A-3-an 20s infinite;
}


@keyframes bg-B-an {
  0%   {transform:translateX(0px); opacity:0;}
  15%  {transform:translateX(0px); opacity:0; fill:#891BAB;}
  16%  {transform:translateX(0px); opacity:1; fill:#891BAB;}
  20%  {transform:translateX(130px); opacity:1;}
  22%  {transform:translateX(130px);}
  35%  {transform:translateX(226px); opacity:1;}
  37%  {opacity:0;}
  39%  {opacity:1; fill:#891BAB;}

  41%  {transform:translateX(226px); opacity:0; fill:#89000;}
  42%  {transform:translateX(0px); opacity:0;}
  43%  {transform:translateX(0px); opacity:1;}
  48%  {transform:translateX(130px);}
  50%  {transform:translateX(130px);}
  60%  {transform:translateX(226px); opacity:1}
  62%  {opacity:0;}
  64%  {opacity:1; fill:#890000;}

  66%  {transform:translateX(226px); opacity:0; fill:#89BB0B;}
  67%  {transform:translateX(0px); opacity:0; fill:#89BB0B;}
  72%  {transform:translateX(130px); opacity:1;}
  80%  {transform:translateX(130px);}
  90%  {transform:translateX(226px); opacity:1;}
  92%  {opacity:0;}
  94%  {opacity:1;}
  96%  {opacity:0;}
  99%  {transform:translateX(226px); opacity:0; fill:#89BB0B;}
  100% {transform:translateX(226px);}
}

#BG-Decorator #bg-B {
  animation:bg-B-an 20s infinite;
}


@keyframes bg-ou-1-an {
  0%   {opacity:0; transform:translateX(0px);}
  41%  {opacity:0; transform:translateX(0px);}
  42%  {opacity:1;}
  43%  {opacity:0;}
  44%  {opacity:1; transform:translateX(0px);}
  45%  {opacity:1; transform:translateX(100px);}
  46%  {opacity:0; transform:translateX(100px);}

  65%  {opacity:0; transform:translateX(0px);}
  66%  {opacity:0; transform:translateX(0px);}
  67%  {opacity:1;}
  68%  {opacity:0;}
  69%  {opacity:1; transform:translateX(0px);}
  70%  {opacity:1; transform:translateX(100px);}
  71%  {opacity:0; transform:translateX(100px);}

  96%  {opacity:0; transform:translateX(0px);}
  97%  {opacity:1;}
  98%  {opacity:0;}
  99%  {opacity:1; transform:translateX(0px);}
  100% {opacity:0; transform:translateX(100px);}
}
#BG-Decorator #bg-ou-1 {
  animation: bg-ou-1-an 20s infinite;
}


@keyframes mix-A-1-an {
  0%   {transform:translateX(0px); opacity:0;}
  7%   {transform:translateX(0px); opacity:0;}
  8%   {transform:translateX(0px); opacity:1;}
  16%  {transform:translateX(130px);}
  25%  {transform:translateX(226px); opacity:1;}
  27%  {opacity:0;}
  29%  {opacity:1;}
  31%  {opacity:0;}
  40%  {transform:translateX(226px); opacity:0;}
  100% {transform:translateX(226px); opacity:0;}
}

#MIX-Decorator #mix-A-1 {
  animation:mix-A-1-an 20s infinite;
}


@keyframes mix-A-2-an {
  0%   {transform:translateX(0px); opacity:0;}
  20%  {transform:translateX(0px); opacity:0;}
  21%  {transform:translateX(0px); opacity:1;}
  28%  {transform:translateX(80px) translateY(0px);}
  30%  {transform:translateX(108px) translateY(11px);}
  45%  {transform:translateX(108px) translateY(11px);}
  50%  {transform:translateX(130px) translateY(0px);}
  60%  {transform:translateX(226px); opacity:1;}
  62%  {opacity:0;}
  64%  {opacity:1;}
  66%  {opacity:0;}
  70%  {transform:translateX(226px);opacity:0;}
  100% {transform:translateX(226px);}
}

#MIX-Decorator #mix-A-2 {
  animation:mix-A-2-an 20s infinite;
}

@keyframes mix-A-3-an {
  0%   {transform:translateX(0px); opacity:0;}
  25%  {transform:translateX(0px); opacity:0;}
  26%  {transform:translateX(0px); opacity:1;}
  33%  {transform:translateX(80px) translateY(0px);}
  35%  {transform:translateX(88px) translateY(11px);}
  49%  {transform:translateX(88px) translateY(11px);}
  50%  {transform:translateX(108px) translateY(11px);}
  75%  {transform:translateX(108px) translateY(11px);}
  76%  {transform:translateX(130px) translateY(0px);}
  86%  {transform:translateX(226px); opacity:1;}
  88%  {opacity:0;}
  90%  {opacity:1;}
  92%  {opacity:0;}
  94%  {transform:translateX(226px); opacity:0;}
  100% {transform:translateX(226px);}
}

#MIX-Decorator #mix-A-3 {
  animation:mix-A-3-an 20s infinite;
}

@keyframes mix-B-1-an {
  0%   {transform:translateX(0px); opacity:1; fill:#A0FFFF;}
  4%   {transform:translateX(130px); opacity:1;}
  5%   {transform:translateX(130px); opacity:0; fill:#A0FFFF;}
  25%  {transform:translateX(0px); opacity:0; fill:#891BAB;}
  26%  {transform:translateX(0px); opacity:1; fill:#891BAB;}
  30%  {transform:translateX(130px); opacity:1;}
  37%  {transform:translateX(130px); opacity:0;}
  100% {transform:translateX(130px);}
}

#MIX-Decorator #mix-B-1 {
  animation:mix-B-1-an 20s infinite;
}


@keyframes mix-B-2-an {
  0%   {transform:translateX(130px); opacity:0; fill:#A0FFFF;}
  15%  {opacity:0;}
  16%  {transform:translateX(130px); opacity:1;}
  25%  {transform:translateX(226px); opacity:1;}
  27%  {opacity:0;}
  29%  {opacity:1; fill:#A0FFFF;}
  31%  {opacity:0;}
  40%  {transform:translateX(226px);}


  48%  {transform:translateX(130px); opacity:0; fill:#891BAB;}
  49%  {opacity:0;}
  50%  {transform:translateX(130px); opacity:1;}
  60%  {transform:translateX(226px); opacity:1;}
  62%  {opacity:0;}
  64%  {opacity:1; fill:#891BAB;}
  66%  {opacity:0;}
  70%  {transform:translateX(226px);}


  74%  {transform:translateX(130px); opacity:0; fill:#891BAB;}
  75%  {opacity:0;}
  76%  {transform:translateX(130px); opacity:1;}
  86%  {transform:translateX(226px); opacity:1;}
  88%  {opacity:0;}
  90%  {opacity:1; fill:#891BAB;}
  92%  {opacity:0;}
  100% {transform:translateX(226px);}
}
#MIX-Decorator #mix-B-2 {
  animation:mix-B-2-an 20s infinite;
}


@keyframes mix-inport-B-an {
  0%   {fill:black;}
  4%   {fill:black;}
  5%   {fill:#A0FFFF;}
  30%  {fill:#A0FFFF;}
  31%  {fill:#891BAB;}
  100% {fill:#891BAB;}
}
#MIX-Decorator #mix-inport-B {
  animation: mix-inport-B-an 20s infinite linear;
}


@keyframes mix-ou-1-an {
  0%   {transform:translateX(0px); opacity:0;}
  31%  {transform:translateX(0px); opacity:0;}
  32%  {opacity:1;}
  33%  {opacity:0;}
  34%  {transform:translateX(0px); opacity:1;}
  45%  {transform:translateX(100px); opacity:1;}
  46%  {transform:translateX(100px); opacity:0;}

  66%  {transform:translateX(0px); opacity:0;}
  67%  {opacity:1;}
  68%  {opacity:0;}
  69%  {transform:translateX(0px); opacity:1;}
  78%  {transform:translateX(100px); opacity:1;}
  79%  {transform:translateX(100px); opacity:0;}

  92%  {transform:translateX(0px); opacity:0;}
  93%  {opacity:1;}
  94%  {opacity:0;}
  95%  {transform:translateX(0px); opacity:1;}
  99%  {transform:translateX(100px); opacity:1;}
  100% {transform:translateX(100px); opacity:0;}
}
#MIX-Decorator #mix-ou-1 {
  animation: mix-ou-1-an 20s infinite;
}

/*shared animation for all node bodies*/
@keyframes body-an {
  0% {
    fill: black;
  }
  20% {
    fill: #666;
  }
  30% {
    fill: #666;
  }
  100% {
    fill: black;
  }
}
/*buffered decorator animation*/
@keyframes bd-in-1-an {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(100px);
  }
  25% {
    transform: translateX(226px);
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  100% {
    transform: translateX(226px);
    opacity: 0;
  }
}
@keyframes bd-ou-1-an {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  34% {
    opacity: 0;
    transform: translateX(0px);
  }
  37% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  43% {
    opacity: 1;
    transform: translateX(0px);
  }
  60% {
    opacity: 1;
    transform: translateX(100px);
  }
  61% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}
#bufferedDecorator #bd-in-1 {
  animation: bd-in-1-an 10s infinite;
}

#bufferedDecorator #bd-ou-1 {
  animation: bd-ou-1-an 10s infinite;
}

@keyframes bd-in-2-an {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(100px) translateY(0px);
  }
  25% {
    transform: translateX(120px) translateY(27px);
  }
  30% {
    transform: translateX(120px) translateY(27px);
  }
  35% {
    transform: translateX(140px) translateY(27px);
  }
  40% {
    transform: translateX(160px) translateY(0px);
  }
  45% {
    transform: translateX(226px);
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  54% {
    opacity: 0;
  }
  100% {
    transform: translateX(226px);
    opacity: 0;
  }
}
#bufferedDecorator #bd-in-2 {
  animation: bd-in-2-an 10s infinite;
  animation-delay: 1s;
}

@keyframes bd-ou-2-an {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  65% {
    opacity: 0;
    transform: translateX(0px);
  }
  68% {
    opacity: 1;
  }
  71% {
    opacity: 0;
  }
  74% {
    opacity: 1;
    transform: translateX(0px);
  }
  90% {
    opacity: 1;
    transform: translateX(100px);
  }
  96% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}
#bufferedDecorator #bd-ou-2 {
  animation: bd-ou-2-an 10s infinite;
}

@keyframes bd-in-3-an {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(100px) translateY(0px);
  }
  25% {
    transform: translateX(120px) translateY(27px);
  }
  38% {
    transform: translateX(120px) translateY(27px);
  }
  45% {
    transform: translateX(140px) translateY(27px);
  }
  50% {
    transform: translateX(160px) translateY(0px);
  }
  55% {
    transform: translateX(226px);
    opacity: 1;
  }
  58% {
    opacity: 0;
  }
  100% {
    transform: translateX(226px);
    opacity: 0;
  }
}
#bufferedDecorator #bd-in-3 {
  animation: bd-in-3-an 10s infinite;
  animation-delay: 2.5s;
}

@keyframes bd-ou-3 {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  85% {
    opacity: 0;
    transform: translateX(0px);
  }
  88% {
    opacity: 1;
  }
  88% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(100px);
  }
}
#bufferedDecorator #bd-ou-3 {
  animation: bd-ou-3 10s infinite;
}

/*cached decorator animation*/
@keyframes cd-in-1-an {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(100px);
  }
  25% {
    transform: translateX(226px);
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  100% {
    transform: translateX(226px);
    opacity: 0;
  }
}
@keyframes cd-in-1-2-an {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(100px);
  }
  28% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}
@keyframes cd-ou-1 {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  34% {
    opacity: 0;
    transform: translateX(0px);
  }
  37% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  43% {
    opacity: 1;
    transform: translateX(0px);
  }
  60% {
    opacity: 1;
    transform: translateX(100px);
  }
  61% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}
#cachedDecorator #cd-in-1 {
  animation: cd-in-1-an 10s infinite;
}

#cachedDecorator #cd-in-1-2 {
  animation: cd-in-1-2-an 10s infinite;
}

#cachedDecorator #cd-ou-1 {
  animation: cd-ou-1 10s infinite;
}

@keyframes cd-in-2-an {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(100px);
  }
  25% {
    transform: translateX(100px);
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  100% {
    transform: translateX(226px);
    opacity: 0;
  }
}
#cachedDecorator #cd-in-2 {
  animation: cd-in-2-an 10s infinite;
  animation-delay: 0.5s;
}

@keyframes cd-in-3-an {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(100px);
  }
  25% {
    transform: translateX(100px);
  }
  40% {
    transform: translateX(226px);
    opacity: 1;
  }
  43% {
    opacity: 0;
  }
  46% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  100% {
    transform: translateX(226px);
    opacity: 0;
  }
}
#cachedDecorator #cd-in-3 {
  animation: cd-in-3-an 10s infinite;
  animation-delay: 1.5s;
}

@keyframes cd-ou-3 {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  64% {
    opacity: 0;
    transform: translateX(0px);
  }
  67% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  73% {
    opacity: 1;
    transform: translateX(0px);
  }
  90% {
    opacity: 1;
    transform: translateX(100px);
  }
  91% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}
#cachedDecorator #cd-ou-3 {
  animation: cd-ou-3 10s infinite;
}

/*passive decorator animation*/
@keyframes pd-in-an {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  50% {
    transform: translateX(100px);
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}
#passiveDecorator #pd-in {
  animation: pd-in-an 5s ease infinite;
}

/*group decorator animation*/
@keyframes gd-in-1-an {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(100px);
  }
  40% {
    transform: translateX(100px);
  }
  55% {
    transform: translateX(226px);
    opacity: 1;
  }
  58% {
    opacity: 0;
  }
  61% {
    opacity: 1;
  }
  64% {
    opacity: 0;
  }
  100% {
    transform: translateX(226px);
    opacity: 0;
  }
}
#groupDecorator #gd-in-1 {
  animation: gd-in-1-an 10s infinite;
}

@keyframes gd-in-2-an {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(80px);
  }
  25% {
    transform: translateX(80px);
  }
  35% {
    transform: translateX(100px);
  }
  75% {
    transform: translateX(100px);
    opacity: 1;
  }
  80% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}
#groupDecorator #gd-in-2 {
  animation: gd-in-2-an 10s infinite;
  animation-delay: 1.5s;
}

@keyframes gd-in-3-an {
  10% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(100px);
  }
  25% {
    transform: translateX(100px);
  }
  40% {
    transform: translateX(226px);
    opacity: 1;
  }
  43% {
    opacity: 0;
  }
  46% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  100% {
    transform: translateX(226px);
    opacity: 0;
  }
}
#groupDecorator #gd-in-3 {
  animation: gd-in-3-an 10s infinite;
  animation-delay: 1.5s;
}

@keyframes gd-ou-1-an {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  64% {
    opacity: 0;
    transform: translateX(0px);
  }
  67% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  73% {
    opacity: 1;
    transform: translateX(0px);
  }
  90% {
    opacity: 1;
    transform: translateX(100px);
  }
  91% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}
#groupDecorator #gd-ou-1 {
  animation: gd-ou-1-an 10s infinite;
}

/*tag decorator animation*/
@keyframes tdin-in-1-an {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(100px);
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}
#taginDecorator #tdin-in-1 {
  animation: tdin-in-1-an 10s ease infinite;
}

@keyframes tdin-in-2-an {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  5% {
    transform: translateX(0px);
    opacity: 0;
  }
  10% {
    transform: translateX(0px);
    opacity: 1;
  }
  30% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(226px);
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  56% {
    opacity: 1;
  }
  59% {
    opacity: 0;
  }
  100% {
    transform: translateX(226px);
    opacity: 0;
  }
}
#taginDecorator #tdin-in-2 {
  animation: tdin-in-2-an 10s ease infinite;
}

@keyframes tdin-ou-an {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  63% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  69% {
    transform: translateX(0px);
    opacity: 1;
  }
  80% {
    transform: translateX(100px);
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#taginDecorator #tdin-ou {
  animation: tdin-ou-an 10s ease infinite;
}

@keyframes tgou-in-an {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  10% {
    transform: translateX(100px);
  }
  20% {
    transform: translateX(226px);
    opacity: 1;
  }
  23% {
    opacity: 0;
  }
  26% {
    opacity: 1;
  }
  29% {
    opacity: 0;
  }
  100% {
    transform: translateX(226px);
    opacity: 0;
  }
}
#tagouDecorator #tgou-in {
  animation: tgou-in-an 10s ease infinite;
}

@keyframes tgou-ou-an {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  36% {
    opacity: 0;
  }
  39% {
    transform: translateX(0px);
    opacity: 1;
  }
  45% {
    transform: translateX(70px);
  }
  55% {
    transform: translateX(140px);
  }
  100% {
    transform: translateX(140px);
  }
}
#tagouDecorator #tgou-ou {
  animation: tgou-ou-an 10s infinite;
}

@keyframes tgou-tg-an {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
    transform: translateX(0px);
  }
  55% {
    transform: translateX(72px);
  }
  100% {
    transform: translateX(72px);
  }
}
#tagouDecorator #tgou-tg {
  animation: tgou-tg-an 10s infinite;
}

/*extract decorator animation*/
@keyframes data-ed-an {
  0% {
    transform: translateX(240px);
    opacity: 0;
  }
  30% {
    transform: translateX(240px);
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  36% {
    opacity: 0;
  }
  39% {
    transform: translateX(240px);
    opacity: 1;
  }
  60% {
    transform: translateX(320px);
    opacity: 1;
  }
  100% {
    transform: translateX(410px);
  }
}
#extractDecorator #data-ed {
  animation: data-ed-an 10s ease infinite;
}

@keyframes data-ed-an-1 {
  60% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(34px);
  }
  100% {
    transform: translateY(35px);
  }
}
#extractDecorator #data-ed-1 {
  animation: data-ed-an-1 10s ease infinite;
}

@keyframes data-ed-an-2 {
  60% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-34px);
  }
  100% {
    transform: translateY(-35px);
  }
}
#extractDecorator #data-ed-2 {
  animation: data-ed-an-2 10s ease infinite;
}

@keyframes ed-in-an {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  10% {
    transform: translateX(100px);
  }
  20% {
    transform: translateX(226px);
    opacity: 1;
  }
  23% {
    opacity: 0;
  }
  26% {
    opacity: 1;
  }
  29% {
    opacity: 0;
  }
  100% {
    transform: translateX(226px);
    opacity: 0;
  }
}
#extractDecorator #ed-in {
  animation: ed-in-an 10s ease infinite;
}

/*no store decorator animation*/
#noStoreDecorator #nsd-bd-1 {
  animation: body-an 5s infinite;
}

#noStoreDecorator #nsd-bd-2 {
  animation: body-an 5s infinite;
  animation-delay: 2s;
}
